/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(52, 73, 102);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1 {
    font-size: 30px;
    color: rgb(230, 170, 206);
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 2.5vh;
}


h2, h3.blog-title {
    text-align: center;
    color: white;
    font-size: 15px;
}

a {
    color: rgb(230, 170, 206);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(255, 255, 255);
}

.footer{
    margin-top: 30px;
}

h3.blog-title{

    font-size: 15px;
    color: white;
    text-align: left;
}

.back{
    color: rgb(230, 170, 206);
    transition: background-color 0.3s, color 0.3s;
    width: fit-content;
    margin: 0 auto;
}

.back:hover{
    color: rgb(13, 24, 33);
}
/*header*/

.home, .login, .hotview-labs{
    margin-right: 10px;
    font-size: 15px;
}

.d-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 24, 33);
}

.header-logo{
    width: 100%;
    max-width: 45px;
    margin-right: 10px;
}

.desktop-header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desktop-header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desktop-header-left, .desktop-header-right{
    margin: 10px;
}

/*footer*/
.footer{
    background-color: rgb(13, 24, 33);
    color: rgb(230, 170, 206);
    padding: 20px;
    text-align: center;
}


/*posts*/
#single-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

#post-image{
    width: 100%;
    max-width: 800px;
    margin: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 170, 206);
}


#post-body{
    color: white;
    font-weight: 100;
}

#share-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(230, 170, 206);
    background-color: rgb(13, 24, 33);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
}

#share-button:hover{
    cursor: pointer;
}

/*login and register-form*/

#login-form, #register-form{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    line-height: 35px;
}

#login-submit, #register-submit{
    margin-top: 20px;
    background-color: rgb(230, 170, 206);
    color: rgb(13, 24, 33);
    border: none;
    padding: 8px;
    border-radius: 25px;
    width: 175px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#login-submit:hover, #register-submit:hover{
    background-color: rgb(13, 24, 33);
    color: rgb(230, 170, 206);
}

#email-input, #password-input, #name-input{
    color: aliceblue;
    background-color: rgb(13, 24, 33);
    border-color: rgb(13, 24, 33);
    padding: 8px;
    border-radius: 25px;
    border-width: 0px;
    margin-bottom: 20px;
}

#email-input:focus, #password-input:focus, #name-input:focus{
    color: aliceblue;
    background-color: rgb(13, 24, 33);
    border-color: rgb(13, 24, 33);
    padding: 8px;
    border-radius: 25px;
    border-width: 0px;
    margin-bottom: 20px;
    outline: none;
    box-shadow: 0 0 5px rgba(230, 170, 206, 0.5);
}

.new-user{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    line-height: 25px;
}


/*landing page*/
#landing-posts-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    align-items: flex-start;
    padding: 0 5%;
    justify-items: center;
}

#post-author, #post-date{
    color: white;
    font-size: 15px;
}

.post-item{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 0 auto;
}

/*blog edit/create index page*/

#posts-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 5%;
    justify-items: center;
}

.edit-button, .delete-button {
    background-color: rgb(230, 170, 206);
    color: black;
    padding: 8px;
    margin-top: 15px;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    border-radius: 15px;
}

.edit-button:hover, .delete-button:hover {
    cursor: pointer;
    background-color: rgb(13, 24, 33);
    color: rgb(230, 170, 206);
}

#new-post-button{
    background-color: rgb(230, 170, 206);
    color: black;
    padding: 10px 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

#new-post-button:hover{
    cursor: pointer;
    background-color: rgb(13, 24, 33);
    color: rgb(230, 170, 206);
}

.author{
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

.blog-title{
    color: rgb(13, 24, 33);
    margin-bottom: 10px;
    font-size: 13px;
    width: 250px;
}

.blog-img{
    width: 100%;
    max-width: 250px;
    height: 150px;
    border: solid;
    border-color: rgb(230, 170, 206);
    border-width: 1px;
}

.author, .updated-date{
    font-size: 10px;
    text-align: left;
}

#create-post-form{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

textarea#body{
    height: 300px;
    resize: none;
}

input[type="text"], textarea {
    background-color: rgb(13, 24, 33);
    color: #fff; /* Ønsket fontfarge */
    border: none;
    padding: 8px;
    width: 100%; /* Juster bredden */
    box-sizing: border-box; /* Sørger for at padding inkluderes i bredden */
    margin-bottom: 10px; /* Mellomrom mellom feltene */
    border-radius: 15px;
}

button[type="submit"] {
    background-color: rgb(230, 170, 206);
    color: rgb(13, 24, 33);
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

button[type="submit"]:hover{
    background-color: rgb(13, 24, 33);
    color: rgb(230, 170, 206);
}

#create-post-form label{
    font-size: 12px;
    color: #fff;
    padding-left: 5px;
    margin-bottom: 10px;
}

form#edit-form{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#edit-form label{
    font-size: 12px;
    color: #fff;
    padding-left: 5px;
    margin-bottom: 10px;
}

#cancel-button, #delete-button{
    background-color: rgb(230, 170, 206);
    color: rgb(13, 24, 33);
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: background-color 0.3s, color 0.3s;
}

#cancel-button:hover, #delete-button:hover{
    background-color: rgb(13, 24, 33);
    color: rgb(230, 170, 206);
}


#form-buttons{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 20px;
}

/*carousel*/

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 0 auto;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.carousel-slide img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    border: solid;
    border-color: rgb(230, 170, 206);
    border-width: 1px;
    margin-bottom: 15px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

#new-post-button{
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*modal*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 24, 33, 0.8); 
}

.modal-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 300px;
    background-color: rgb(230, 170, 206); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: rgb(13, 24, 33); 
    z-index: 10000;
}


/* close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(52, 73, 102); 
}

/* modal message text */
#modal-message {
    font-size: 16px;
    color: rgb(13, 24, 33); 
}

#confirm-btn, #cancel-btn{
    background-color: rgba(13, 24, 33, 0.8);
    color: white;
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
}

#confirm-btn:hover, #cancel-btn:hover{
    cursor: pointer;
}




